@model GuestCreateDto

@{
    ViewData["Title"] = "AddGuest";
    Layout = "~/Views/AdminLayout/_AdminLayout.cshtml";
}

<h1>Yeni Misafir</h1>


<form method="post">
    <label>Ad</label>
    <input type="text" asp-for="Name" class="form-control" />
    <span asp-validation-for="Name" class="text-danger"></span>

    <label>Soyad</label>
    <input type="text" asp-for="Surname" class="form-control" />
    <span asp-validation-for="Surname" class="text-danger"></span>

    <label>Şehir</label>
    <input type="text" asp-for="City" class="form-control" />
    <span asp-validation-for="City" class="text-danger"></span>
    <br /><br />

    <button class="btn mb-1 btn-rounded btn-outline-primary">Ekle</button>

</form>

