@model List<ServiceResultDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/_AdminLayout.cshtml";
}

<h1>Hizmetler</h1>

<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Başlık</th>
        <th>Sil</th>
        <th>Güncelle</th>
        <th>Detay</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.ServiceID</td>
            <td>@item.Title</td>
            <td><a href="/Service/DeleteService/@item.ServiceID" class="btn btn-danger">Sil</a></td>
            <td><a href="/Service/UpdateService/@item.ServiceID" class="btn btn-success">Güncelle</a></td>
            <td><a href="#" class="btn btn-dark">Detay</a></td>
        </tr>
    }
</table>
<a href="/Service/AddService" class="btn btn-info">Yeni Hizmet</a>
