@model UpdateStaffViewModel
@{
    ViewData["Title"] = "UpdateStaff";
    Layout = "~/Views/AdminLayout/_AdminLayout.cshtml";
}


<form method="post">
    <input type="hidden" asp-for="StaffID"/>
    <label>Personel Adı</label>
    <input type="text" asp-for="Name" class="form-control" />
    <label>Personel Ünvanı</label>
    <input type="text" asp-for="Title" class="form-control" />
    <label>Personel Sosyal Medya</label>
    <input type="text" asp-for="SocailMedia1" class="form-control" />
    <label>Personel Ünvanı</label>
    <input type="text" asp-for="SocailMedia2" class="form-control" />
    <label>Personel Ünvanı</label>
    <input type="text" asp-for="SocailMedia3" class="form-control" />
    <br />
    <button class="btn mb-1 btn-rounded btn-outline-primary">Güncelle</button>

</form>