@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

@await Html.PartialAsync("/Views/AdminLayout/HeadPartial.cshtml")

<body>
    <div id="main-wrapper">

        <div class="nav-header">
            <div class="brand-logo">
                <a href="index.html">
                    <b class="logo-abbr"><img src="~/adminweb/images/logo.png" alt=""> </b>
                    <span class="logo-compact"><img src="~/adminweb/images/logo-compact.png" alt=""></span>
                    <span class="brand-title">
                        <img src="~/adminweb/images/logo-text.png" alt="">
                    </span>
                </a>
            </div>
        </div>

        @await Html.PartialAsync("/Views/AdminLayout/HeaderPartial.cshtml")

        <div class="nk-sidebar">
            <div class="nk-nav-scroll">
                <ul class="metismenu" id="menu">
                    <li class="nav-label">Dashboard</li>
                    <li>
                        <a href="/Staff/Index" aria-expanded="false">
                            <i class="icon-badge menu-icon"></i><span class="nav-text">Personeller</span>
                        </a>
                    </li>
                    <li>
                        <a href="/Testimonial/Index" aria-expanded="false">
                            <i class="icon-badge menu-icon"></i><span class="nav-text">Referanslar</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="content-body">

            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                @RenderBody()
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="footer">
            <div class="copyright">
                <p>Hotel API 2023</p>
            </div>
        </div>

    </div>

    <script src="~/adminweb/plugins/common/common.min.js"></script>
    <script src="~/adminweb/js/custom.min.js"></script>
    <script src="~/adminweb/js/settings.js"></script>
    <script src="~/adminweb/js/gleek.js"></script>
    <script src="~/adminweb/js/styleSwitcher.js"></script>

</body>

</html>
